@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-raleway: "Raleway", "sans-serif";
  --animate-wiggle: wiggle .7s ease 1;

  @keyframes wiggle {
    0% {
      transform: translateY(-100%);
    }

    50% {
      transform: translateY(6px);
    }

    100% {
      transform: translateY(2px);
    }

  }
}

@layer base {
  body {
    @apply font-normal text-base;
    font-family: var(--font-raleway);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    /* Прозрачный фон */
    -webkit-text-fill-color: currentColor !important;
    /* Текущий цвет текста (наследуется) */
    caret-color: currentColor !important;
    /* Цвет курсора */
    background-color: transparent !important;
    /* На всякий случай */
  }

  h1 {
    @apply font-bold text-4xl;
  }

  h2 {
    @apply font-bold text-3xl;
  }

  h3 {
    @apply font-bold text-2xl;
  }
}
